name: phptravels
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  flutter_map: ^8.2.2
  latlong2: ^0.9.1
  country_picker: ^2.0.0
  flutter_svg: ^2.0.9
  flutter_typeahead: ^5.2.0
  lucide_icons: ^0.257.0
  http: ^1.6.0
  calendar_date_picker2: ^2.0.1
  provider: ^6.0.0
  uuid: ^4.0.0
  shared_preferences: ^2.2.0
  flutter_localizations:
    sdk: flutter
  intl: any
  geolocator: ^13.0.2
  geocoding: ^3.0.0
  webview_flutter: ^4.4.2
  webview_flutter_android: ^3.12.0
  flutter_secure_storage: ^8.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0
  flutter_launcher_icons: ^0.13.1
  mockito: ^5.4.4
  build_runner: ^2.4.8
  integration_test:
    sdk: flutter

flutter:
  uses-material-design: true
  generate: true 

  assets:
    - assets/images/
    - assets/icons/

  fonts:
    - family: Inter
      fonts:
        - asset: assets/fonts/Inter-Regular.ttf
          weight: 400
        - asset: assets/fonts/Inter-Medium.ttf
          weight: 500
        - asset: assets/fonts/Inter-SemiBold.ttf
          weight: 600
        - asset: assets/fonts/Inter-Bold.ttf
          weight: 700
    
    - family: Poppins
      fonts:
        - asset: assets/fonts/Poppins-Regular.ttf
        - asset: assets/fonts/Poppins-Bold.ttf
          weight: 700
        - asset: assets/fonts/Poppins-ExtraBold.ttf
          weight: 800
        - asset: assets/fonts/Poppins-Black.ttf
          weight: 900
    
    - family: ComicRelief
      fonts:
        - asset: assets/fonts/ComicRelief-Bold.ttf

flutter_icons:
  android: "launcher_icon"
  image_path: "assets/images/icon.png"